<style>
    .product {
        height: 210px;
        width: 210px;
        margin: 10px;

    }

    img {
        width: 200px;
        height: 200px;
    }

    .body {
        background-color: #e7d1a5;
    }

    .txt {
        color: rgb(51, 117, 119);
    }
</style>
<header class="bg-light py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="homePage" class="text-dark ">Home</a>
            </div>
            <div>
                <form>
                    <input type="text" name="searchContent" placeholder="Search" class="form-control ">
                </form>
            </div>
            <div>
                <a href="firstpage" class="btn btn-link text-dark">Login</a>
            </div>
            <div>
                <a href="profile" class="btn">
                    <img src="profile.avif" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="preethi1.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹30000</div>
                    <div class="card-text">Preethi Tiara Mixer Grinder for Kitchen | 500 Watt Mixie | 3 Stainless Steel
                        Jars (0.3L, 0.7L and 1.2L) | <br> (pack of 25)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="preethi2.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹95000</div>
                    <div class="card-text">Bajaj Military Series Glamore 4 Jar 1000 Watts Mixer Grinder | 3-Speed
                        Control With Pulse Effect Mixie<br> (pack of 20)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="preethi3.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹50000</div>
                    <div class="card-text">Preethi Blue Leaf Diamond MG-214 750 Watt Mixer Grinder with 3 Jars  <br> (pack of 50)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="preethi4.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹100000</div>
                    <div class="card-text">Preethi Zion Mixer Grinder for Kitchen - 4 Jars 750 Watt Mixie  <br> (pack of 50) </div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
    </div>
</div>