<style>
    .product {
        height: 210px;
        width: 210px;
        margin: 10px;

    }
    img {
        width: 200px;
        height: 200px;
    }

    .body {
        background-color: #e7d1a5;
    }
    .txt{
        color: rgb(51, 117, 119);
    }
</style>
<header class="bg-light py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="homePage" class="text-dark ">Home</a>
            </div>
            <div>
                <form>
                    <input type="text" name="searchContent" placeholder="Search" class="form-control ">
                </form>
            </div>
            <div>
                <a href="firstpage" class="btn btn-link text-dark">Login</a>
            </div>
            <div>
                <a href="profile" class="btn">
                    <img src="profile.avif" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div  class="card">
                <img src="dairymilk1.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹1000</div>
                    <div class="card-text">Dairymilk Oreo</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="dairymilk2.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹1000</div>
                    <div class="card-text">Dairy milk fruit and nut</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="dairymilk3.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹1000</div>
                    <div class="card-text">Dairymilk</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="dairymilk4.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹4800</div>
                    <div class="card-text">Dairymilk special(pack of 30)</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="dairymilk5.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹1000</div>
                    <div class="card-text">Dairymilk Dessert</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="dairymilk6.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹1000</div>
                    <div class="card-text">Dairy milk silk</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="dairymilk7.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹1000</div>
                    <div class="card-text">Dairymilk Shots</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="dairymilk8.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹1000</div>
                    <div class="card-text">Dairymilk lolly</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>