<style>
    .product {
        height: 210px;
        width: 210px;
        margin: 10px;

    }

    img {
        width: 200px;
        height: 200px;
    }

    .body {
        background-color: #e7d1a5;
    }

    .txt {
        color: rgb(51, 117, 119);
    }
</style>
<header class="bg-light py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="homePage" class="text-dark ">Home</a>
            </div>
            <div>
                <form>
                    <input type="text" name="searchContent" placeholder="Search" class="form-control ">
                </form>
            </div>
            <div>
                <a href="firstpage" class="btn btn-link text-dark">Login</a>
            </div>
            <div>
                <a href="profile" class="btn">
                    <img src="profile.avif" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="vguard1.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹60000</div>
                    <div class="card-text">Buy VGUARD Plastic V-Guard Mixer Grinder, 550 Watts, 3 Jars (Yellow) <br>
                        (pack of 20)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="vguard2.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹80000</div>
                    <div class="card-text">V Guard Mixer Grinder, 750W, 3 Jars (Black Orange)<br> (pack of 20)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="vguard3.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹45000</div>
                    <div class="card-text">V-Guard Brillio 750 Watt Juicer Mixer Grinder, 3 Year Motor Coverage by
                        V-Guard, 4 Jars <br> (pack of 20)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="vguard4.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹43000</div>
                    <div class="card-text">V-Guard AG 754 750 Watts Juicer Mixer Grinder, 3 Year Motor Warranty By V-Guard,4 Jars</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
    </div>
</div>