<style>
    .product {
        height: 210px;
        width: 210px;
        margin: 10px;

    }

    img {
        width: 200px;
        height: 200px;
    }

    .body {
        background-color: #e7d1a5;
    }

    .txt {
        color: rgb(51, 117, 119);
    }
</style>
<header class="bg-light py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="homePage" class="text-dark ">Home</a>
            </div>
            <div>
                <form>
                    <input type="text" name="searchContent" placeholder="Search" class="form-control ">
                </form>
            </div>
            <div>
                <a href="firstpage" class="btn btn-link text-dark">Login</a>
            </div>
            <div>
                <a href="profile" class="btn">
                    <img src="profile.avif" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="butterfly1.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹43000</div>
                    <div class="card-text">Butterfly Smart 750 Watts Mixer Grinder with 4 Jars | 3 Stainless Steel
                        Multipurpose Jars & 1 Juicer Jar<br> (pack of 20) </div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="butterfly2.webp" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">90000</div>
                    <div class="card-text">Butterfly Magnum 1.2HP Mixer Grinder with 4 Jars | 100% Copper Motor | 3
                        Stainless Steel Multipurpose Jars and 1 Juicer Jar<br> (pack of 20)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="butterfly3.webp" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹50000</div>
                    <div class="card-text">Butterfly Magnum 1.2HP Mixer Grinder with 4 Jars | 100% Copper Motor | 3
                        Stainless Steel Multipurpose Jars and 1 Juicer Jar<br> (pack of 20)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="butterfly4.webp" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹90000</div>
                    <div class="card-text">Butterfly Stainless Steel Desire Mixer Grinder with 4 Jars (Red and White),
                        760 Watt<br> (pack of 20) </div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
    </div>
</div>