<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="text-center">
    <a href="" class="btn btn-danger btn-custom mb-3" aria-label="Continue with Google">
      Continue with Google
    </a><br>
    <a href="login" class="btn btn-secondary btn-custom mb-3" aria-label="Login to your account">
      Login <br><small>If you already have an account</small>
    </a><br>
    <a href="signin" class="btn btn-primary btn-custom" aria-label="Sign Up for a new account">
      Sign Up <br><small>Create a new account</small>
    </a><br>
  </div>
</div>
