<style>
    img {
        width: 200px;
        height: 200px;
    }
    .txt{
        color: rgb(51, 117, 119);
    }
</style>
<header class="bg-light py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="homePage" class="text-dark font-weight-bold">Home</a>
            </div>
            <div>
                <form class="form-inline">
                    <input type="text" name="searchContent" placeholder="Search" class="form-control mr-2">
                </form>
            </div>
            <div>
                <a href="firstpage" class="btn btn-link text-dark font-weight-bold">Login</a>
            </div>
            <div>
                <a href="profile" class="btn">
                    <img src="profile.avif" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="furniture8.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title"  ><a href="" class="btn btn-custom txt">Nilkamal</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="furniture7.jfif" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title" ><a href=""  class="btn btn-custom txt">Magniflex</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="furniture5.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title"  ><a href="" class="btn btn-custom  txt">Wakefit </a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="furniture4.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title" ><a href="" class="btn btn-custom  txt">Sleepwell </a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
    </div>
</div>