<style>
    img {
        width: 200px;
        height: 200px;
    }
    .txt{
        color: rgb(51, 117, 119);
    }
</style>
<header class="bg-light py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="homePage" class="text-dark font-weight-bold">Home</a>
            </div>
            <div>
                <form class="form-inline">
                    <input type="text" name="searchContent" placeholder="Search" class="form-control mr-2">
                </form>
            </div>
            <div>
                <a href="firstpage" class="btn btn-link text-dark font-weight-bold">Login</a>
            </div>
            <div>
                <a href="profile" class="btn">
                    <img src="profile.avif" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="kitchen1.png" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="vguard" class="btn btn-custom  txt">V-Guard</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="kitchen2.png" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="butterfly" class="btn btn-custom  txt">Butterfly</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="kitchen7.png" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="usha" class="btn btn-custom  txt">Usha </a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="kitchen8.png" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="preethi" class="btn btn-custom  txt">Preethi</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
    </div>
</div>