<style>
    .product {
        height: 210px;
        width: 210px;
        margin: 10px;

    }
    img {
        width: 200px;
        height: 200px;
    }

    .body {
        background-color: #e7d1a5;
    }
    .txt{
        color: rgb(51, 117, 119);
    }
</style>
<header class="bg-light py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="homePage" class="text-dark ">Home</a>
            </div>
            <div>
                <form>
                    <input type="text" name="searchContent" placeholder="Search" class="form-control ">
                </form>
            </div>
            <div>
                <a href="firstpage" class="btn btn-link text-dark">Login</a>
            </div>
            <div>
                <a href="profile" class="btn">
                    <img src="profile.avif" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="johnson1.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹35</div>
                    <div class="card-text">Johnson's <br>Baby Lotion</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="johnson2.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹50</div>
                    <div class="card-text">Johnson's <br>Baby Oil - Vitamin E</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="johnson3.avif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹60</div>
                    <div class="card-text">Johnson's <br> Baby Blossoms Soap</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="johnson4.avif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹480</div>
                    <div class="card-text">Johnson's <br>baby gift set </div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="johnson5.webp" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹150</div>
                    <div class="card-text">Johnson <br>Gentle Baby Body Wash</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="johnson6.webp" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹200</div>
                    <div class="card-text">Johnson's <br> Baby Powder</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="fisher7.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹3000</div>
                    <div class="card-text">Fisher-price Tap And Turn Bench</div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="fisher8.webp" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹3000</div>
                    <div class="card-text">Laugh & Learn Smart Stages My Smart Purse </div>
                    <button class="btn" style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>