<style>
    .product {
        height: 210px;
        width: 210px;
        margin: 10px;

    }
    img {
        width: 200px;
        height: 200px;
    }

    .body {
        background-color: #e7d1a5;
    }
    .txt{
        color: rgb(51, 117, 119);
    }
</style>
<header class="bg-light py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="homePage" class="text-dark ">Home</a>
            </div>
            <div>
                <form>
                    <input type="text" name="searchContent" placeholder="Search" class="form-control ">
                </form>
            </div>
            <div>
                <a href="firstpage" class="btn btn-link text-dark">Login</a>
            </div>
            <div>
                <a href="profile" class="btn">
                    <img src="profile.avif" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="5star.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="5star" class="btn btn-custom  txt">5 Star</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="dairymilk.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="dairymilk" class="btn btn-custom  txt">Dairymilk</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="ferrero.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="ferrero" class="btn btn-custom  txt">Ferrero</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="herseys.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="Hersheys" class="btn btn-custom  txt">Hersheys</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="kinderjoy.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="kinderjoy" class="btn btn-custom  txt">kinderjoy</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="kitkat.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="Kitkat" class="btn btn-custom  txt">Kitkat</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="perk.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="perk" class="btn btn-custom  txt">Perk</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="snickers.jfif" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title"><a href="Snickers" class="btn btn-custom  txt">Snickers</a></div>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
    </div>
</div>