<style>
    .product {
        height: 210px;
        width: 210px;
        margin: 10px;

    }
    .body {
        background-color: #e7d1a5;
    }
    .bg{
        background-color: #4b4b4a;
    }
    .txt{
        color: rgb(51, 117, 119);
    }
</style>
<div class="body "><br>
    <header class="bg-light btn w-100 m-1py-3">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="homePage" class="text-dark ">Home</a>
                </div>
                <div>
                    <form>
                        <input type="search" name="searchContent" placeholder="Search" class="form-control ">
                    </form>
                </div>
                <div>
                    <a href="firstpage" class="btn btn-link text-dark">Login</a>
                </div>
                <div>
                    <a href="profile" class="btn">
                        <img src="profile.avif" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="main">

        <div class="content container-fluid ">
            <div class="btn text-center">
                <img src="Beauty & Personal Care.avif" alt="" class="product"><br>
                <a href="beauty" class="btn btn-custom txt">Beauty & Personal Care</a>
            </div>
            <div class="btn text-center">
                <img src="Books & Stationery.avif" alt="" class="product"><br>
                <a href="book" class="btn btn-custom txt">Books & Stationery</a>
            </div>
            <div class="btn text-center">
                <img src="chocalate.avif" alt="" class="product"><br>
                <a href="chocolate" class="btn btn-custom txt">chocalate</a>
            </div>
            <div class="btn text-center">
                <img src="Electronics & Gadgets.avif" alt="" class="product"><br>
                <a href="gadget" class="btn btn-custom txt">Electronics & Gadgets</a>
            </div>
            <div class="btn text-center">
                <img src="grocery.avif" alt="" class="product"><br>
                <a href="" class="btn btn-custom txt">grocery</a>
            </div>
            <div class="btn text-center">
                <img src="mixergrinder.jfif" alt="" class="product "><br>
                <a href="kitchen" class="btn btn-custom txt">Mixer grinder</a>
            </div>
            <div class="btn text-center">
                <img src="Jewelry & Watches.avif" alt="" class="product"><br>
                <a href="jewel" class="btn btn-custom txt">Jewelry & Watches</a>
            </div>
            
            <div class="btn text-center">
                <img src="Toys & Baby Products.avif" alt="" class="product"><br>
                <a href="toys" class=" btn btn-custom txt">Toys & Baby Products</a>
            </div>
            <div class="btn text-center">
                <img src="Furniture & Mattresses.avif" alt="" class="product"><br>
                <a href="furniture" class="btn btn-custom txt">Mattresses</a>
            </div>
            <div class="btn text-center">
                <img src="Gifts for Special Occasions.avif" alt="" class="product"><br>
                <a href="" class=" btn btn-custom txt">Gifts for Special Occasions</a>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <b>Get to Know Us</b><br>
                    <a href="aboutus" class="text-white">About us</a><br>
                    <a href="" class="text-white">Careers</a><br>
                    <a href="" class="text-white">Press Releases</a>
                </div>
                <div class="col-md-3 mb-3">
                    <b>Connect with Us</b><br>
                    <a href="" class="text-white">Facebook</a><br>
                    <a href="" class="text-white">Twitter</a><br>
                    <a href="" class="text-white">Instagram</a>
                </div>
                <div class="col-md-3 mb-3">
                    <b>Let Us Help You</b><br>
                    <a href="" class="text-white">Your Account</a><br>
                    <a href="" class="text-white">Returns Centre</a><br>
                    <a href="" class="text-white">Recalls and Product Safety Alerts</a><br>
                    <a href="" class="text-white">100% Purchase Protection</a><br>
                    <a href="" class="text-white">App Download</a><br>
                    <a href="" class="text-white">Help</a>
                </div>
                <div class="col-md-3 mb-3">
                </div>
            </div>

            <hr class="my-4">
            <div class="text-center">
                <p>&copy; 2025 E-commerce. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>