<style>
    .product {
        height: 210px;
        width: 210px;
        margin: 10px;

    }

    img {
        width: 200px;
        height: 200px;
    }

    .body {
        background-color: #e7d1a5;
    }

    .txt {
        color: rgb(51, 117, 119);
    }
</style>
<header class="bg-light py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="homePage" class="text-dark ">Home</a>
            </div>
            <div>
                <form>
                    <input type="text" name="searchContent" placeholder="Search" class="form-control ">
                </form>
            </div>
            <div>
                <a href="firstpage" class="btn btn-link text-dark">Login</a>
            </div>
            <div>
                <a href="profile" class="btn">
                    <img src="profile.avif" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="usha1.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹90000</div>
                    <div class="card-text">USHA ICHEF 750 Watt Copper Motor Mixer Grinder with 3 SS Jars & Translucent
                        blender PC Jar with fruit filter| <br> (pack of 25)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="usha2.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹80000</div>
                    <div class="card-text">Usha Maximus Plus 800-Watt Copper Motor Mixer Grinder with 4 Jars and 5 Years
                        Motor Warranty(Black & Stainless steel)<br> (pack of 20)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="usha3.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹32000</div>
                    <div class="card-text">USHA Rapidmix 500-Watt Copper Motor Mixer Grinder With 3 Jars And 2 Years
                        Product Warranty & 5 Years Motor Warranty <br> (pack of 20)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="card">
                <img src="usha4.jpg" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <div class="card-title">₹63000</div>
                    <div class="card-text">USHA Thunderbolt 800-Watt Copper Motor Mixer Grinder with 3 Jars and 5 Years
                        Motor Warranty(Red) <br> (pack of 20)</div>
                    <button class="btn"
                        style="background-color: #4CAF50; color: white; width: 100%; margin-bottom: 10px;">Buy
                        now</button>
                    <button class="btn" style="background-color: #007BFF; color: white; width: 100%;">Add to
                        cart</button>
                </div>
            </div>
        </div>
    </div>
</div>